{% extends 'base.html.twig' %}

{% block body %}
    <section id="header" class="row my-5">
		<img src="{{ asset("/assets/img/agence.jpg") }}" alt="Photo de devanture de l'agence" class="col-6">
		<div class="col-6">
			<h2>Bienvenue sur le site de notre agence</h2>
			<h3>Retrouvez tous les biens près de chez vous au meilleur prix</h3>
		</div>
	</section>
    <section id="content" class="d-flex justify-content-around flex-wrap">
        {% for property in properties %}
            <article class="card text-dark m-3" style="width:13rem;">
                {% if property.picture %}
                    <img src="{{ asset('/assets/img/property/' ~ property.picture) }}" alt="{{ property.title }}" width="300px" class="card-img-top">
                {% else %}
                    <img src="https://fakeimg.pl/300x150" alt="" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title">{{ property.title }}</h4>
                    <p class="card-text">nb de pièces: {{ property.rooms }}</p>
                    <p class="card-text">surface: {{ property.size }}</p>
                    <p class="card-text h4 bg-info">{{ property.transactionType }} | {{ property.propertyType }}</p>
                    <p class="card-text">Prix:{{ property.price| number_format(0, ',', ' ') }} €</p>
                    <a href="#" class="btn btn-info">Voir le bien</a>
                </div>
            </article>
        {% else %}
            <h2>Tous nos biens ont été vendus ou loués, n'hésitez pas à revenir régulièrement pour consulter les nouveaux biens</h2>
        {% endfor %}
    </section>
{% endblock %}
